{
    "presets": [
      [
        "@babel/preset-env", 
        {
          "modules": false,
          "loose": true,
          "useBuiltIns": "entry",
          "targets": {
            "browsers": ["ie>=8"]
          },
          "debug": true
        }  
      ]
    ],
    "plugins": [
      "@babel/transform-runtime",
      "syntax-dynamic-import"
    ]
}